body {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
  padding: 8% 15% 2%;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #C33764;
}

h5 {
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

span {
  color: hsla(0, 0%, 100%, 0.6);
}
/* Classes */
#upper-card {
  margin: 0;
  border: 0;
}
.card-img-top {
  border-top-left-radius: .45rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: .45rem;
  border-bottom-right-radius: 0;
}
.row {
  padding-left: 14%;
  padding-right: 14%;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(244, 38%, 16%);
}
.main-card {
  border-top-left-radius: 0;
  border-top-right-radius: .45rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: .45rem;
}
.main-heading {
  margin: 10% 15%;
  font-size: 28px;
  line-height: 1.3;
}
.insights {
  color: hsl(277, 64%, 61%);
}
.main-paragraph {
  margin: 5% 15%;
  font-size: 15px;
}
.small-card {
  border: 0;
}
.inner-card-title {
  font-size: 18px;
}
.inner-card-body {
  padding: 16px 4px;
}
.stats-heading {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 10px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 10%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Media Query Breakpoints */
@media (max-width: 992px) {
  body {
    text-align: center;
  }

  .row {
    padding-right: 14%;
  }

  .attribution {
    padding-top: 3%;
  }

  .card-img-top {
    border-top-left-radius: .45rem;
    border-top-right-radius: .45rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .main-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: .45rem;
    border-bottom-right-radius: .45rem;
  }
}

@media (max-width:575px) {
  .card-img-top {
    border-top-left-radius: .45rem;
    border-top-right-radius: .45rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .main-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: .45rem;
    border-bottom-right-radius: .45rem;
  }
}
